<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="body">
    <form [formGroup]="login" #form="ngForm">
      <h2 style="font-weight: bold;">Login Form</h2>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">
            Username
          </ion-label>
          <ion-input type="text" formControlName="username">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Password
          </ion-label>
          <ion-input type="Password" formControlName="password">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="loginBtn()" [disabled]="!form.valid">Log in</ion-button>
      <div>
        <p style="font-weight: bold;">Don't have an account?</p>
        <a routerLink="/signup">Click here</a>
      </div>

    </form>
  </div>


</ion-content>